signatureAlgorithm should be hashAlgorithm?

[line 103](https://github.com/aarongable/draft-acme-ari/blob/6410fba49a018098afb6234c6e068ba4e5084153/draft-aaron-acme-ari.md?plain=1#L103) currently states:

> (&hellip;) a DER-encoded `CertID` ASN.1 sequence [@!RFC6960, section 4.1.1].

Looking at the `CertID` structure in RFC6960, section 4.1.1, it states:

> CertID ::= SEQUENCE {
>    hashAlgorithm           AlgorithmIdentifier,
>    issuerNameHash          OCTET STRING, -- Hash of issuer's DN
>    issuerKeyHash           OCTET STRING, -- Hash of issuer's public key
>    serialNumber            CertificateSerialNumber }
 
However, [line 114](https://github.com/aarongable/draft-acme-ari/blob/6410fba49a018098afb6234c6e068ba4e5084153/draft-aaron-acme-ari.md?plain=1#L114) of the draft states:

> (&hellip;) if it receives a request whose embedded `signatureAlgorithm` field contains an unacceptable OID (&hellip;)

The `signatureAlgorithm` is part of the "Signature" sequence of RFC 6960, which doesn't seem to be used in this draft.